In [1]:
import joblib

# Data Processing
import pandas as pd
import numpy as np

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint
import matplotlib.pyplot as plt

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
import graphviz
from sklearn.metrics import f1_score
from sklearn import tree

In [2]:
rcf=joblib.load('randomfc.pkl')

In [3]:
df=pd.read_csv('new_delhi_accidental_zones1.csv')

In [4]:
df

,Location Name,Number of Accidents,Number of Casualties,Latitude,Longitude
0,Connaught Place,78,5.000000,28.630400,77.217700
1,India Gate,31,46.364416,28.612900,77.229500
2,Karol Bagh,53,62.107730,28.651400,77.188800
3,Lajpat Nagar,76,2.000000,28.567900,77.247700
4,Chandni Chowk,11,15.498294,28.650500,77.230600
...,...,...,...,...,...
98,Rohini,70,73.675227,28.707660,77.063328
99,Dilshad Garden,78,7.000000,28.528577,77.130780
100,Mehrauli,95,96.268243,28.653668,77.297359
101,Shahdara,96,113.888502,28.664054,77.216248
102,Narela,12,1.000000,28.701855,77.194593

In [5]:
df.rename(columns={'Number of Casualties':'No. of Fatalities'}, inplace="True")

In [6]:
df.rename(columns={'Number of Accidents':'No. of Accident'}, inplace="True")

In [7]:
df

       Location Name  No. of Accident  No. of Fatalities   Latitude  Longitude
0    Connaught Place               78           5.000000  28.630400  77.217700
1         India Gate               31          46.364416  28.612900  77.229500
2         Karol Bagh               53          62.107730  28.651400  77.188800
3       Lajpat Nagar               76           2.000000  28.567900  77.247700
4      Chandni Chowk               11          15.498294  28.650500  77.230600
..               ...              ...                ...        ...        ...
98            Rohini               70          73.675227  28.707660  77.063328
99    Dilshad Garden               78           7.000000  28.528577  77.130780
100         Mehrauli               95          96.268243  28.653668  77.297359
101         Shahdara               96         113.888502  28.664054  77.216248
102           Narela               12           1.000000  28.701855  77.194593

[103 rows x 5 columns]

In [8]:
X=df[["No. of Accident","No. of Fatalities"]]

In [9]:
y_pred=rcf.predict(X)

In [10]:
y_pred

array([1., 3., 3., 1., 1., 3., 3., 1., 2., 3., 1., 1., 1., 1., 2., 3., 2.,
       1., 2., 2., 2., 2., 3., 1., 3., 2., 3., 3., 2., 1., 3., 2., 3., 1.,
       2., 1., 3., 2., 1., 3., 1., 3., 2., 2., 2., 3., 3., 2., 1., 1., 3.,
       1., 3., 3., 2., 2., 1., 1., 1., 1., 1., 3., 1., 1., 1., 3., 3., 1.,
       2., 3., 2., 1., 2., 3., 1., 2., 2., 3., 2., 3., 3., 3., 1., 2., 2.,
       3., 3., 1., 1., 3., 2., 1., 1., 2., 3., 1., 1., 3., 3., 1., 3., 3.,
       1.])

In [11]:
df['Severity']=y_pred

In [12]:
df.to_csv('new_delhi_severity.csv', index=False)

In [13]:
group1 = df[(df['Severity'] <= 1) & (df['Severity'] < 2)]
group2 = df[(df['Severity'] >= 2) & (df['Severity'] <3)]
group3 = df[df['Severity']>=3]

In [14]:
group1

,Location Name,No. of Accident,No. of Fatalities,Latitude,Longitude,Severity
0,Connaught Place,78,5.000000,28.630400,77.217700,1.0
3,Lajpat Nagar,76,2.000000,28.567900,77.247700,1.0
4,Chandni Chowk,11,15.498294,28.650500,77.230600,1.0
7,Hauz Khas,8,9.000000,28.549400,77.203800,1.0
10,Nehru Place,86,1.000000,28.547500,77.247200,1.0
11,Dwarka,8,8.140173,28.573300,77.012700,1.0
12,Vasant Kunj,6,1.000000,28.529600,77.150000,1.0
13,Pitampura,57,6.000000,28.703300,77.132200,1.0
17,Dilshad Garden,24,3.000000,28.675800,77.302400,1.0
23,Patel Nagar,58,3.000000,28.650500,77.191900,1.0
29,Kailash Colony,7,10.000000,28.543000,77.274500,1.0
33,South Extension,30,2.000000,28.540400,77.168000,1.0
35,Safdarjung,10,11.497828,28.570400,77.216700,1.0
38,Tilak Nagar,64,2.000000,28.645600,77.315200,1.0
40,Rajendra Nagar,49,4.000000,28.672200,77.145700,1.0
48,Dilshad Garden,2,2.248027,28.647000,77.232300,1.0
49,Rohini,11,11.669742,28.708160,77.178315,1.0
51,Mehrauli,14,7.000000,28.685006,77.152067,1.0
56,Patel Nagar,8,2.000000,28.743118,77.070498,1.0
57,Kalkaji,10,1.000000,28.790353,77.005070,1.0
58,Khan Market,9,10.813698,28.727766,77.295806,1.0
59,Sarita Vihar,85,1.000000,28.565217,77.261036,1.0
60,Chanakyapuri,10,14.005994,28.703377,77.239003,1.0
62,Kailash Colony,96,6.000000,28.517080,77.166539,1.0
63,Defence Colony,39,5.000000,28.730186,77.298670,1.0
64,Green Park,88,1.000000,28.747663,77.122744,1.0
67,Lodi Colony,11,15.000000,28.673317,77.148636,1.0
71,Tilak Nagar,8,11.666496,28.575713,77.146863,1.0
74,Karol Bagh,14,2.000000,28.521855,77.225144,1.0
82,Connaught Place,12,14.090362,28.792851,77.246531,1.0
87,Rajouri Garden,64,4.000000,28.793169,77.150568,1.0
88,Saket,6,11.000000,28.687292,77.215142,1.0
91,Paharganj,11,7.000000,28.749884,77.003783,1.0
92,Nehru Place,48,4.000000,28.584086,77.076291,1.0
95,Pitampura,5,7.154405,28.557063,77.093885,1.0
96,Laxmi Nagar,10,2.000000,28.502555,77.284799,1.0
99,Dilshad Garden,78,7.000000,28.528577,77.130780,1.0
102,Narela,12,1.000000,28.701855,77.194593,1.0

In [15]:
group2

,Location Name,No. of Accident,No. of Fatalities,Latitude,Longitude,Severity
8,Janakpuri,68,13.000000,28.621900,77.087800,2.0
14,Laxmi Nagar,58,12.000000,28.636900,77.277300,2.0
16,Rohini,96,12.000000,28.704100,77.101900,2.0
18,Mehrauli,19,14.000000,28.520600,77.186000,2.0
19,Shahdara,30,12.000000,28.673700,77.290500,2.0
20,Narela,30,12.000000,28.725600,77.094000,2.0
21,Mayur Vihar,43,8.000000,28.592100,77.298600,2.0
25,Khan Market,22,22.731670,28.600600,77.227000,2.0
28,Nizamuddin,93,13.000000,28.600000,77.229400,2.0
31,Green Park,33,13.000000,28.565800,77.225000,2.0
34,Lodi Colony,26,14.000000,28.549600,77.224500,2.0
37,Vivek Vihar,14,17.888696,28.581400,77.241900,2.0
42,Lajpat Nagar,26,10.000000,28.621700,77.079900,2.0
43,Pitampura,45,10.000000,28.575500,77.228000,2.0
44,Nehru Place,61,12.000000,28.647000,77.232300,2.0
47,Paharganj,88,9.000000,28.703300,77.132200,2.0
54,Mayur Vihar,89,12.000000,28.675459,77.083767,2.0
55,Okhla,86,10.000000,28.630177,77.158661,2.0
68,Safdarjung,13,13.184605,28.644272,77.044336,2.0
70,Vivek Vihar,22,7.000000,28.795110,77.203067,2.0
72,Ashok Vihar,55,12.000000,28.623949,77.283872,2.0
75,Lajpat Nagar,72,12.000000,28.629340,77.085675,2.0
76,Pitampura,43,9.000000,28.633381,77.230964,2.0
78,Dwarka,38,11.000000,28.693762,77.173272,2.0
83,India Gate,29,8.000000,28.697593,77.256533,2.0
84,Karol Bagh,21,24.115876,28.686815,77.070229,2.0
90,Janakpuri,82,10.000000,28.570190,77.275925,2.0
93,Dwarka,19,24.017778,28.762249,77.291023,2.0

In [16]:
group3

,Location Name,No. of Accident,No. of Fatalities,Latitude,Longitude,Severity
1,India Gate,31,46.364416,28.612900,77.229500,3.0
2,Karol Bagh,53,62.107730,28.651400,77.188800,3.0
5,Rajouri Garden,26,38.098665,28.642300,77.110000,3.0
6,Saket,40,40.749460,28.524500,77.206600,3.0
9,Paharganj,71,83.547817,28.645500,77.214200,3.0
15,Greater Kailash,64,77.666753,28.556900,77.233000,3.0
22,Okhla,68,85.577770,28.530500,77.286500,3.0
24,Kalkaji,80,87.758250,28.530000,77.258800,3.0
26,Sarita Vihar,44,62.598604,28.530500,77.298500,3.0
27,Chanakyapuri,49,72.448445,28.589200,77.216900,3.0
30,Defence Colony,27,37.810267,28.561400,77.249500,3.0
32,Malviya Nagar,66,95.495776,28.557500,77.215500,3.0
36,Jangpura,85,120.651329,28.562300,77.198900,3.0
39,Ashok Vihar,88,130.355969,28.639100,77.106600,3.0
41,Karol Bagh,31,39.221324,28.642000,77.185700,3.0
45,Dwarka,39,44.044768,28.632700,77.080700,3.0
46,Vasant Kunj,97,129.412530,28.567900,77.214300,3.0
50,Dilshad Garden,28,40.325824,28.714137,77.111713,3.0
52,Shahdara,50,53.916461,28.610635,77.165867,3.0
53,Narela,55,68.379675,28.670676,77.135171,3.0
61,Nizamuddin,70,76.666753,28.771399,77.013629,3.0
65,Malviya Nagar,75,79.190896,28.666728,77.073957,3.0
66,South Extension,95,121.549524,28.575502,77.265564,3.0
69,Jangpura,25,33.186056,28.756284,77.276226,3.0
73,Rajendra Nagar,67,68.036868,28.614547,77.213207,3.0
77,Nehru Place,63,91.517850,28.614125,77.031426,3.0
79,Vasant Kunj,40,48.476905,28.779371,77.225794,3.0
80,Paharganj,24,25.678711,28.732891,77.147261,3.0
81,Dilshad Garden,96,115.653518,28.753735,77.225404,3.0
85,Lajpat Nagar,18,26.634498,28.725295,77.274593,3.0
86,Chandni Chowk,55,64.801412,28.618661,77.087477,3.0
89,Hauz Khas,73,99.334744,28.540599,77.113138,3.0
94,Vasant Kunj,50,50.290863,28.584577,77.287592,3.0
97,Greater Kailash,97,119.667759,28.691175,77.261873,3.0
98,Rohini,70,73.675227,28.707660,77.063328,3.0
100,Mehrauli,95,96.268243,28.653668,77.297359,3.0
101,Shahdara,96,113.888502,28.664054,77.216248,3.0

In [17]:
group1.to_csv('new_delhi_severity1.csv', index=False)

In [18]:
group2.to_csv('new_delhi_severity2.csv', index=False)

In [19]:
group3.to_csv('new_delhi_severity3.csv', index=False)

In [20]:
df

,Location Name,No. of Accident,No. of Fatalities,Latitude,Longitude,Severity
0,Connaught Place,78,5.000000,28.630400,77.217700,1.0
1,India Gate,31,46.364416,28.612900,77.229500,3.0
2,Karol Bagh,53,62.107730,28.651400,77.188800,3.0
3,Lajpat Nagar,76,2.000000,28.567900,77.247700,1.0
4,Chandni Chowk,11,15.498294,28.650500,77.230600,1.0
...,...,...,...,...,...,...
98,Rohini,70,73.675227,28.707660,77.063328,3.0
99,Dilshad Garden,78,7.000000,28.528577,77.130780,1.0
100,Mehrauli,95,96.268243,28.653668,77.297359,3.0
101,Shahdara,96,113.888502,28.664054,77.216248,3.0
102,Narela,12,1.000000,28.701855,77.194593,1.0